*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230411/pngtree-nature-forest-sun-ecology-image_2256183.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.caclulater{
   padding: 20px;
   border: 2px solid #000;
   border-radius: 16px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);

}
input{
    width: 310px;
    padding: 24px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    font-size: 60px;
    color: #000;
    text-align: right;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
input::placeholder{
    color: #fff;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5);
}
.ac, .del{
    font-size: 20px;
}
button:hover{
    color: #ffff;
    background: #f67c14;
}
.equalBtn{
    background: #f67c14;
}
.operator{
    background: #f67c14;

}

@media (max-width:667px) {
    
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .caclulater{
        width: 90%;
        height: 60%;
        padding: 20px; 
        margin: 50px;
    }   
    input{
        width: 200px;
        height: 20px;
        color: #000;
        font-size: 2rem;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
        border: solid 2px rgba(0, 0, 0, 0.3);
        border-radius: 16px;
    
    }
    .AC,.DEL{
        font-size:12px;
    }
    button{
        height: 35px;
        width: 30px;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.7);
        border: solid 1px rgba(255, 255, 255, 0.2);
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 1px;

    

    }
    button:hover{
        color: #ffff;
        background: #f67c14;
    }
    input::placeholder{
        color: #000;
    }
}